/.idea/
*.iml
/target/
/out/
/lib
/build/
/.gradle/
/bin
/auth_tests/screenshots
/screenshots
.classpath
.project
.settings
/auth_tests/local.properties
local.properties
.DS_Store
*.log.*
*.log
/auth_tests/*.log.*
/auth_tests/*.log
/auth_tests/build/
/auth_tests/.gradle/
/auth_tests/target/
